@import 'govuk-elements';
@import 'highlighting';

.heading-anchor {
  content: '#';
  position: absolute;
  right: 1em;
}

table {
  margin-bottom: 1em;
}

li ul {
  margin-left: 1.5em;
}

li ul li {
  margin-bottom: 0;
}
